<div class="container">

    <div class="topnav">
        <a class="active">Home</a>
        <a>About HearX</a>
        <a>Contact our HearX shop</a>
        <a class="cart"><i class="fa fa-cart-arrow-down " aria-hidden="true"></i>
            <span class="rands">
                {{cardNumber}}</span>

        </a>


    </div>


    <div class="main-view">
        <h2>HearX Shop</h2>
        <div class="box" *ngFor="let item of cartItems, let i = index ">
            <p>
                <img src="{{item.image}}" alt="card item" class="img">
                <span class="itemName">{{item.name}}</span>

                <span class="price">R{{item.price}}</span>
                <button class="button" (click)="pushToCart(item , i)">
                    <span *ngIf="showText" id="span">Add to cart</span>

                    <span *ngIf="!loader && selected ===  i && !showText" id="span">Add to cart</span>
                    <span *ngIf="loader && selected === i && !showText" id="span">loading...</span>


                </button>



            </p>

            <div *ngIf="selected === i && addedCart " style="display: inline-grid;">
                <i class="fa fa-plus-square-o add" (click)="pushToCart(item , i)" aria-hidden="true"></i>
                <span class="number">{{getItemID}}</span>
                <i class="fa fa-minus-square-o remove" (click)="remove(i, item.id)" aria-hidden="true"></i>


            </div>


        </div>
    </div>
</div>